// Colors
$primary-button-bgc: #965163;
$default-button-bgc: #37383d;
$button-color: #e9edf0;

$brand-color: #174a8f;
$white: #fff;
$black: #000;

$screen-color: #D5E2E3;
$screen-border: #666b71;
// Typography
$basic-font-color: #333;

// Links
$link-color: #0090aa;

// Break points
$screen-sm: 30rem;
$screen-md: 48rem;
$screen-lg: 75rem;
