// Colors
$primary-color: #729C03;
$brand-color: #174a8f;
$white: #fff;
$black: #000;

// Typography
$basic-font-color: #333;

// Links
$link-color: #0090aa;

// Break points
$screen-sm: 30rem;
$screen-md: 48rem;
$screen-lg: 75rem;
